extends layout


block content
    div 
        h1 Le classement des revendeurs de solutions de s&eacute;curit&eacute; en France par marques
        .container
            table
                thead
                    tr
                        th Marque
                        th Nombre de Partenaires 
                        th Perdu
                        th Gagné
                tbody
                    tr
                        td Cisco
                        td=cisco[0]
                        td=cisco[1]
                        td=cisco[2]
                    tr
                        td TrendMicro
                        td=trendmicro[0]
                        td=trendmicro[1]
                        td=trendmicro[2]
                    tr
                        td Trellix
                        td=trellix[0]
                        td=trellix[1]
                        td=trellix[2]
                    tr
                        td WithSecure
                        td=withsecure[0]
                        td=withsecure[1]
                        td=withsecure[2]
                    tr
                        td Watchguard
                        td=watchguard[0]
                        td=watchguard[1]
                        td=watchguard[2]
                    tr 
                        td Bit Defender 
                        td=bitdefender[0]
                        td=bitdefender[1]
                        td=bitdefender[2]
                    tr 
                        td Sophos 
                        td=sophos[0]
                        td=sophos[1]
                        td=sophos[2]
                    tr 
                        td Kapersky
                        td=kapersky[0]
                        td=kapersky[1]
                        td=kapersky[2]
                    tr 
                        td CheckPoint
                        td=checkpoint[0]
                        td=checkpoint[1]
                        td=checkpoint[2]
                    tr 
                        td Norton
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Avast
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td AVG
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td ESET
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Avira
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td F-Secure
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Malwarebytes
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Quick Heal
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Webroot
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Comodo
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td G Data
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td BullGuard
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td PC Matic
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td TotalAV
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Vipre
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td NortonLifeLock
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Adaware
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Microsoft Defender
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Emsisoft
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td K7 Computing
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Cylance
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Carbon Black
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Acronis
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td ZoneAlarm
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Symantec
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Panda Security
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Dr.Web
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td TrustPort
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td AVG Internet Security
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Trustwave
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td AVG AntiVirus FREE
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Norton AntiVirus
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td AVG Internet Security Business Edition
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td McAfee AntiVirus Plus
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Norton Security
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Norton Security Deluxe
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Norton Security Premium
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Avast Internet Security
                        td Prenium
                        td Prenium
                        td Prenium
                    tr 
                        td Avast Premier
                        td Prenium
                        td Prenium
                        td Prenium
        p
        a#download-button(href='#')
            i.fa.fa-download(aria-hidden='true')  T&eacute;l&eacute;charger un &eacute;chantillon
                    


